@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #88c273;
    color: black;
    max-width: 1400px;
    margin: 0 auto;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: black;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}


/*Navigation Buttons*/
nav a{
    font-size: 1.8rem;
    color: #fff1db;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #536493;
    border-bottom: 3px solid #536493;
}

/*Nav Header*/
@media(max-width:995px){
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid #536493;
        border-bottom: 3px solid #536493;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #d4bdac;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a:active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #536493;
    }
}

section{
    min-height: 90vh;
    padding: 5rem 9% 5rem;
}

/*SECTION 1: Home*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #88c273;
}

.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #536493;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 2rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #536493;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

/*Social Media Icons*/
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: 0.2rem solid #536493;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #536493;
    box-shadow: 0 0 25px #536493;
}

/*Typing Animation*/
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "an IT Student";
    color: #536493;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: #88c273;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #88c273;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #536493;
    }
}

/*Typing Animation: Word Content*/
@keyframes words{
    0%, 50%{
        content: "a Beginner Web Developer"
    }
    51%, 100%{
        content: "a Beginner Programmer"
    }
}

/*Section 2: Skills*/
.skills-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2{
    text-align: center;
    font-size: 35px;
}

.skills-section .text{
    text-align: center;
    margin-bottom: 35px;
    font-size: 1.8rem;
}

.skills-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.skills-section .cells .cell img{
    width: 50px;
    height: 50px;
}

.skills-section .cells .cell span{
    font-size: 2.5rem;
    color: black;
}

/*SECTION 3: Education*/
.education-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.education-section h2{
    text-align: center;
    font-size: 35px;
}

.education-section .text{
    text-align: center;
    margin-bottom: 35px;
    font-size: 1.8rem;
}

/*SECTION 4: Experience*/
.experience-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.experience-section h2{
    text-align: center;
    font-size: 35px;
}

.experience-section .text{
    text-align: center;
    margin-bottom: 35px;
    font-size: 1.8rem;
}

/*SECTION 5: Contact*/
.contact-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2{
    text-align: left;
    font-size: 35px;
}

.contact-section .group{
    display: flex;
    gap: 50px;
}

.contact-section .group .text{
    flex: 3;
    text-align: left;
    margin-bottom: 35px;
    font-size: 1.8rem;
}

.contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea{
    font-family: 'Poppins', sans-serif;
    border: 2px solid #5ea145;
    background-color: #fff1db;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: none;
    height: 50px;
    cursor: pointer;
    background-color: #fff1db;
}

.contact-section .group form button:hover{
    background-color: #536493;
    transition: .2s ease;
}

@media(max-width:740px){
    .contact-section .group{
        flex-direction: column;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }
    
    .home-content h1{
        font-size: 5rem;
    }
    
    .home-img img{
        width: 70vh;
        margin-top: 4rem;
    }
}